<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wind.mj.com.ttc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_mj"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.other.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.other.LoginActivity" />
        <activity android:name=".activity.other.SettingActivity" />

        <activity android:name=".activity.arrivalmanage.ScanConfirmActivity" />
        <activity android:name=".activity.arrivalmanage.ArrivalQueryActivity" />

        <activity android:name=".activity.product.ProductDrainActivity" />
        <activity android:name=".activity.product.ProductOnLineActivity" />
        <activity android:name=".activity.product.ProductFinishActivity"/>

        <activity android:name=".activity.warehouse.HeadScanActivity" />
        <activity android:name=".activity.warehouse.PackScanActivity" />
        <activity android:name=".activity.warehouse.ReturnWarehouseActivity" />
        <activity android:name=".activity.warehouse.ProductInboundActivity" />
        <activity android:name=".activity.warehouse.SaleActivity" />
        <activity android:name=".activity.warehouse.MaterialDrainActivity" />



        <activity android:name=".activity.board.HeadBoardActivity" />
        <activity android:name=".activity.board.EndBoardActivity" />
        <activity android:name=".activity.board.OfficeBoardActivity" />
        <activity android:name=".activity.board.WarehouseBoardActivity" />

    </application>

</manifest>